@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body,html{
    height: 80%;
    margin: 0;
    font-family: 'poppins',sans-serif;
}
.background{
    background-image: url('https://i.pinimg.com/564x/03/cf/8f/03cf8f8216b333ad943e5a6b5d219a2a.jpg');
    background-size: cover;
    background-position: center;
    height: 33rem;
    align-items: center;
    justify-content: center;
    }
.background h1{
    color:white;
    text-decoration: bold;
}
.card-body{
    background-color: rgba(223, 226, 226, 0.7);
    padding: 5px;
    /* border-radius: 20px; */
    max-width: 500px;
    width: 100%;
}
.card-body h2{
    text-align: center;
}
.card-body form{
    display: flex;
    flex-direction: column;
}
.card-body input{
    padding: 8px;
    border: 1px solid #767373;
    border-radius: 5px;
}